<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    
        <%- include('nav.ejs') %>

        <div class="white-bg">
          <% for (let i = 0; i < 글목록.length; i++){ %>
            <div class="list-box">
                <h4>
                    <a href="/detail/<%= 글목록[i]._id %>">
                        <%= 글목록[i].title %>
                    </a>
                    <a href="/edit/<%= 글목록[i]._id %>">✏️</a>
                    <span class="delete" data-id="<%= 글목록[i]._id %>">🗑️</span>
                </h4>
                <p>글내용임</p>
            </div>
        <% } %>  
        </div>
        
        <a href="/list/next/<%= 글목록[글목록.length-1]._id %>">다음</a>
        </div> 
        <script>
            for (let i= 0; i < '<%= 글목록.length %>'; i++) {
                document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
              fetch('/delete?docid' + e.target.dataset.id, {
                method : 'DELETE'
              })
              .then((r)=>r.text())  // .then((r)=>r.json())
              .then((r)=>{ 
                e.target.parentElement.parentElement.style.display = 'none'
               })
            })
            }

            /*
            fetch('/URL')
            .then((r)=>{
                if(r.status == 200) {
                    return r.json()
                } else {
                    //서버가 에러코드전송시 실행할코드

                }
            })
            .then((result)=>{ 
                //성공시 실행할코드
            }).catch((error)=>{
                //인터넷문제 등으로 실패시 실행할코드
                console.log(error)
            }) */

          </script>
      
</body>
</html>